# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sdf
*.db
*.opendb
*.user
*.suo

*.ipdb
*.iobj
*.pdb

# Project specific
/x64
/ThirdParty
/Output/*.log
/Output/*.ilk
